/* ---------- GAME ---------- */
.game{
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}
/* ---------- BOARD ---------- */
.board{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.grid{
  margin: 2.5vh auto;
}
.mines-count{
  margin-top: 2vh;
  padding: 1vh 2.5vw;
  background-color: #cec075;
  border-radius: 20px;
  align-self: center;
  text-align: center;
}
.row{
  display: flex;
  justify-content: center;
}
.row:not(last-child){
  margin-bottom: .65vh;
}
/* ---------- CELL ---------- */
.cell{
  display: flex;
  background-color: rgb(169, 137, 142); 
  min-width: 4vh;
  aspect-ratio: 1/1;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  transition: background-color 0.2s;
}
.cell:not(first-child){
  margin-left: .65vh;
}
.cell:focus{
  outline: none;
}
.cell.hidden{
  background-color: rgb(91, 66, 69);
}
.cell.hidden:hover{
  background-color: #cec075; 
}
/* Flagged incorrectly*/
.cell.is-flag:not(.is-mine):not(.hidden){
  background-color: rgb(230, 57, 0); 
}
/* Flagged correctly */
.cell.is-flag.is-mine:not(.hidden){
  background-color: rgb(79, 135, 85);
}
/* Clicked on a mine*/
.cell.is-mine.is-clicked{
  background-color: rgb(230, 57, 0); 
}
/* Empty revealed cells*/
.cell.is-empty:not(.hidden):not(.is-mine):not(.is-flagged){
  background-color: rgb(169, 137, 142); 
}
